  <div class="card mb-3" *ngIf="episode">
    <div class="card-body">
      <div>
        <!-- TODO: padaryti, kad paspaudus ant epizodo pavadinimo, nuvestu į epizodo puslapį -->
        <h3>
          {{ episode.name }}
        </h3>
      </div>

      <div>
        {{ episode.episode }}
      </div>

      <div>
        Date: {{ episode.air_date }}
      </div>

      <div>
        Characters Count: {{ episode.characters.length }}
      </div>

    </div>

    <div class="card-footer">
      <a routerLink="" class="btn btn-primary">View More</a>
    </div>
  </div>
