
<!-- Atvaizduojame epizodo duomenis tik tada kai zinome, kad episode kintamasis yra nustatytas -->
<div *ngIf="episode">
  <h1>
    {{ episode.name }} ({{ episode.episode }})
  </h1>

  <p>
    {{ episode.air_date }}
  </p>

  <h3>
    Epizodo Veikejai:
  </h3>
  <ul>
    <li *ngFor="let character of episode.characters">
      <app-character-card [character]="character"></app-character-card>
      <a href="{{ character }}" target="_blank">
        {{ character }}
      </a>
    </li>
  </ul>
</div>


