<p>Duomenys naudojami iš:

  <a href="https://rickandmortyapi.com/api/character" target="_blank">
    Rickandmortyapi.com
  </a>
  /
  <a href="https://rickandmortyapi.com/documentation" target="_blank">
    API Dokumentacija
  </a>
</p>


<div class="row">
  <div class="col-12">
    <h1>Rick And Morty Veikejai</h1>
  </div>

  <div class="row mb-3">
    <div class="col-6">
      <small>Veikeju Kiekis: {{ charactersInfo.count }}</small>
      <div>
        <!-- Atvaizduoti dabar perziurima puslapi -->
        Current page: {{ page }} / {{ charactersInfo.pages }}
      </div>
    </div>

    <div class="col-6 text-end">
      <!-- Angular click event example -->
      <!-- Papildomai prideti mygtuka atgal, rodyti ji tik tada kai page kintamasis yra daugiau uz 1 -->
      <button class="btn btn-secondary ml-3" (click)="previousPage()">
        Previous Page
      </button>

      <!-- NExt Page button -->
      <button class="btn btn-secondary" (click)="nextPage()">
        Next Page
      </button>
    </div>
  </div>

  <div class="col-sm-4 mb-3" *ngFor="let character of characters">
    <!-- [character] - @Input() kintamasis app-character-card.component.ts faile
          ="character" - kintamasi/duomenys, kurie siuo atveju rodo i lokalu ciklo kintamaji
          *ngFor="let character of characters"
    -->
    <!-- Pakeisime i <app-character-card [character]="character"> -->
    <app-character-card [character]="character"></app-character-card>
  </div>
</div>
