/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

/* Nustatyti standartines boostrap spalvas */
$theme-colors: (
  "primary": #28a745,
  "secondary": #ff4136,
  "success":  #000000,
  'danger': yellow
);


@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';


/* SCSS kintamuju sukurimas */
$manoSpalva : #28a745;


/* SCSS kintamuju panaudojimas */
.mano-klase {
  background: $manoSpalva;
  color: $manoSpalva;
}
