<div class="row">
  <div class="col-8">
    <!-- TODO:  -->
    <a href="#">Back</a>
    <h1>{{ character.name }}</h1>
    <!-- Nuorodos i isorinius tinklapius, dazniausiai turi buti target="_blank" -->
    <small>Data from: <a href="{{ character.url }}" target="_blank">RickAndMortyApi.com</a></small>

    <hr>
    <h2>Character Details</h2>
  </div>
  <div class="col-4">

    <img src="{{ character.image }}" [alt]="character.name" class="img-fluid" />

    <ul>
      <li>Location: {{ character.location.name }}</li>
      <!-- Pavyzdys su ngIf -->
      <!-- Pridedama .toLowerCase() , kad statusas butu suprantamas vienodai, nes Alive != alive -->
      <li *ngIf="character.status.toLowerCase() === 'alive'" class="text-success">
        Status: {{ character.status }}
      </li>

      <li *ngIf="character.status.toLowerCase() === 'dead'" class="text-danger">
        Status: {{ character.status }}
      </li>


      <!-- Vietoj ngIf galima naudoti
        Naudingos nuorodos:
        https://stackoverflow.com/a/66768960/1028193
        https://angular.io/api/common/NgClass#description
      -->
      <!-- PVZ su ngClass, prideti kitokia klase, priklausomai nuo reiksmes -->
      <li [ngClass]="{ 'text-danger' : character.status == 'Dead', 'text-success' : character.status == 'Alive' }">
        Status: {{ character.status }}
      </li>
    </ul>
  </div>
</div>
